<h1 style="margin-left: 10vw; margin-top: 5vw;">Valuta</h1>
<div class="mat-elevation-z8 tabela">
  <mat-form-field class="search" style="margin-left: 10px;">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pretraga">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
    
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let valuta" (click)= "openValuta(valuta)"> {{valuta.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="naziv">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Naziv</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let valuta" (click)= "openValuta(valuta)"> {{valuta.naziv}} </td>
      </ng-container>
  
      <ng-container matColumnDef="sifra">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sifra</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let valuta" (click)= "openValuta(valuta)"> {{valuta.sifra}} </td>
      </ng-container>

      <ng-container matColumnDef="drzava">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Drzava</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let valuta" (click)= "openValuta(valuta)"> {{valuta.drzava.naziv}} </td>
      </ng-container>

      <ng-container matColumnDef="operacije">
        <th mat-header-cell style="text-align: center;" *matHeaderCellDef><button mat-raised-button color="accent" style="color: white;"  title="Dodaj Valutu" (click)="openDialogValuta(null,'add')"><mat-icon>add</mat-icon>
        </button></th>
        <td mat-cell style="text-align: center;" *matCellDef="let valuta"><button mat-raised-button (click)="openDialogDelete(valuta)" color="warn" title="Brisanje Valute"><mat-icon>delete</mat-icon>
        </button></td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
  </div>
