.profile-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .profile-full-width {
    width: 100%;
  }

  .example-form-field {
    width: 200px;
  }
  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #FFA800 !important;
   }
  
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: #FFA800 !important;;
  }

  input:disabled{
    color: white;
    caret-color:#FFA800
  }

  input{
    caret-color:#FFA800
  }

  .main {
    background-color: grey;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    text-align: center;
    width: 50%;
  }

  .dugme{
    color: white;
    border-radius: 100%;
    height: 50px;
    border: none;
    width: 50px; 
    box-shadow: none;
  }
  .mat-raised-button:not([class*=mat-elevation-z]) {
    box-shadow: none !important;
}