<div class="main">
<div style="display: flex; justify-content: center; margin-top: 5%;">
<form [formGroup]="profileForm" class="profile-form">
  <h1>
  <div [hidden]="izmena">
    Profil
  <button (click)="edit()" mat-raised-button color="primary" title="Izmena Lozinke" style="background-color:#FFA800;float: right; border-radius: 100%; height: 50px; width: 50px;"><mat-icon>edit</mat-icon>
  </button>
</div>
<div [hidden]="!izmena">
  Profil
  <button (click)="cancel()" mat-raised-button color="warn" title="Ponisti Izmene" style="float: right; border-radius: 100%; height: 50px; width: 50px;"><mat-icon>close</mat-icon>
  </button>
</div>
</h1>
    <mat-form-field class="profile-full-width">
      <mat-label>Korisnicko Ime</mat-label>
      <input formControlName="username" matInput >
    </mat-form-field>

    <mat-form-field class="profile-full-width">
        <mat-label>Lozinka</mat-label>
        <input type="password" formControlName="lozinka" matInput >
      </mat-form-field>

      <div [hidden]="!izmena">
      <mat-form-field  class="profile-full-width">
        <mat-label>Ponovite Lozinku</mat-label>
        <input type="password" formControlName="reLozinka" matInput >
      </mat-form-field>
    </div>
    <mat-form-field class="profile-full-width">
        <mat-label>Uloga</mat-label>
        <input formControlName="uloga" matInput  style="text-transform: capitalize;">
      </mat-form-field>

      <mat-form-field *ngIf="uloga==='ROLE_KORISNIK'" class="profile-full-width">
        <mat-label>Ime Prezime Klijenta
        </mat-label>
        <input formControlName="imePrezime" matInput  style="text-transform: capitalize;">
      </mat-form-field>

      <mat-form-field *ngIf="klijenti" class="profile-full-width">
        <mat-label>Adresa
        </mat-label>
        <input formControlName="adresa" matInput  style="text-transform: capitalize;">
      </mat-form-field>

      <mat-form-field *ngIf="klijenti" class="profile-full-width">
        <mat-label>Delatnost
        </mat-label>
        <input formControlName="delatnost" matInput  style="text-transform: capitalize;">
      </mat-form-field>

      <mat-form-field *ngIf="klijenti" class="profile-full-width">
        <mat-label>JMBG
        </mat-label>
        <input formControlName="jmbg" matInput  style="text-transform: capitalize;">
      </mat-form-field>

      <mat-form-field *ngIf="klijenti" class="profile-full-width">
        <mat-label>Telefon
        </mat-label>
        <input formControlName="telefon" matInput  style="text-transform: capitalize;">
      </mat-form-field>

      <mat-form-field *ngIf="klijenti" class="profile-full-width">
        <mat-label>Tip Klijenta
        </mat-label>
        <input formControlName="tipKlijenta" matInput  style="text-transform: capitalize;">
      </mat-form-field>
      
      
      <button *ngIf="!klijenti && uloga==='ROLE_KORISNIK'"  mat-raised-button color="primary" style="background: none; border: none; color:white; cursor:pointer; margin-bottom: 1vw; border-radius: 100%;" (click)="klik();"><mat-icon>keyboard_arrow_down</mat-icon></button>
      <button *ngIf="klijenti && uloga==='ROLE_KORISNIK'"  mat-raised-button color="primary" style="background: none; border: none; color:white; cursor:pointer; margin-bottom: 1vw; border-radius: 100%;" (click)="klik();"><mat-icon>keyboard_arrow_up</mat-icon></button>
      <div [hidden]="!izmena">
        <button [disabled]="profileForm.invalid" (click)="save()" mat-raised-button color="accent" title="Sacuvaj Izmene" style="float: left; border-radius: 100%; width: 50px; height: 50px; margin-bottom: 1vw;"><mat-icon>save</mat-icon>
        </button>
      </div>
  </form>
</div>
</div>