<div style="display: flex; justify-content: center;" class="wrapper fadeInDown mt-5 col-3">

  <form [formGroup]="loginForm">

    <h2 class="h2">Prijava</h2>

        <div class="form-group">
            <input style="caret-color:#FFA800;" formControlName="korisnickoIme" type="text" placeholder="Korisnicko ime"
                class="form-control">
        </div>

        <div class="form-group">
            <input style="caret-color:#FFA800;" formControlName="lozinka" type="password" placeholder="Lozinka"
                class="form-control">
        </div>
        <div style="width: 100%;">
        <button mat-raised-button style="margin-left: 7vw;"  type="submit" (click)="submitLogin()"  title="Uloguj se" style="background-color:#FFA800 ;margin-left: 6px;">Uloguj se</button>
        <button mat-raised-button color="accent" style="margin-left: 7vw;" type="submit" (click)="goToOtvaranjeRacuna()"  title="Zahtev za otvaranje novog racuna">Zahtev za otvaranje racuna</button>
    </div>
    </form>
  
  </div>