table {
    width: 100%;
    text-align: center;
  }

.tabela{
    width: 80%;
    margin: 20px auto;
    margin-top: 5%;
    overflow-x: auto;
}

td{
  padding: 0 20px !important;
}
::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #FFA800 !important;
 }


::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: #FFA800 !important;;
}

input{
  caret-color:#FFA800
}
