<h1 style="margin-left: 10vw; margin-top: 5vw;">Klijenti</h1>
<div class="mat-elevation-z8 tabela">
  <mat-form-field class="search" style="margin-left: 10px;">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pretraga">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let klijent"> {{klijent.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="adresa">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center;">Adresa</th>
        <td mat-cell *matCellDef="let klijent"> {{klijent.adresa}} </td>
      </ng-container>
  
      <ng-container matColumnDef="ime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ime</th>
        <td mat-cell *matCellDef="let klijent"> {{klijent.ime}} </td>
      </ng-container>

      <ng-container matColumnDef="prezime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Prezime</th>
        <td mat-cell *matCellDef="let klijent"> {{klijent.prezime}} </td>
      </ng-container>

      <ng-container matColumnDef="jmbg">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Jmbg</th>
        <td mat-cell *matCellDef="let klijent"> {{klijent.jmbg}} </td>
      </ng-container>

      <ng-container matColumnDef="telefon">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Telefon</th>
        <td mat-cell *matCellDef="let klijent"> {{klijent.telefon}} </td>
      </ng-container>

      <ng-container matColumnDef="odobren">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Odobren</th>
        <td mat-cell *matCellDef="let klijent"> {{klijent.odobren}} </td>
      </ng-container>

      <ng-container matColumnDef="tipKlijenta">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tip Klijenta</th>
        <td mat-cell *matCellDef="let klijent"> {{klijent.tipKlijenta}} </td>
      </ng-container>

      <ng-container matColumnDef="korisnik">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Korisnik</th>
        <td mat-cell *matCellDef="let klijent"> {{klijent.korisnik.id}} </td>
      </ng-container>

      <ng-container matColumnDef="delatnost">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Delatnost</th>
        <td mat-cell *matCellDef="let klijent"> {{klijent.delatnost.id}} </td>
      </ng-container>

      <ng-container matColumnDef="operacije">
        <th mat-header-cell style="text-align: center;" *matHeaderCellDef><button mat-raised-button color="accent" style="color: white;"  title="Dodaj Klijenta" (click)="openDialogKlijent(null,'add')"><mat-icon>add</mat-icon>
</button></th>
        <td mat-cell style="text-align: center;" *matCellDef="let klijent"><button mat-raised-button title="Izmena Klijenta" style="background-color:#FFA800; margin-right: 1vw;" (click)="openDialogKlijent(klijent,'edit')"><mat-icon>edit</mat-icon>
        </button><button mat-raised-button (click)="openDialogDelete(klijent)" color="warn" title="Brisanje Klijenta"><mat-icon>delete</mat-icon>
        </button></td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
  </div>

