<h2 mat-dialog-title>Banka</h2>
<mat-dialog-content>
  <form [formGroup]="addEditForm" class="w-25">
  <mat-form-field class="example-form-field">
    <mat-label>Naziv Banke</mat-label>
    <input matInput type="text" formControlName="naziv">
  </mat-form-field>
  <mat-form-field style="margin-left: 1vw;" class="example-form-field">
    <mat-label>Adresa Banke</mat-label>
    <input matInput type="text" formControlName="adresa">
  </mat-form-field><br>
  <mat-form-field class="example-form-field">
    <mat-label>Email Banke</mat-label>
    <input matInput type="text" formControlName="email">
  </mat-form-field>
  <mat-form-field style="margin-left: 1vw;" class="example-form-field">
    <mat-label>Sifra Banke [A-Z]-3</mat-label>
    <input matInput type="text" formControlName="sifra">
  </mat-form-field><br>
  <mat-form-field class="example-form-field">
    <mat-label>Fax Banke</mat-label>
    <input matInput type="text" formControlName="fax">
  </mat-form-field>
  <mat-form-field style="margin-left: 1vw;" class="example-form-field">
    <mat-label>Swift Banke</mat-label>
    <input matInput type="text" formControlName="swift">
  </mat-form-field><br>
  <mat-form-field  style="width: 100%;" class="example-form-field">
    <mat-label>Obracunski Racun Banke</mat-label>
    <input matInput type="text" formControlName="obracunskiRacun">
  </mat-form-field><br>
  <mat-form-field class="example-form-field">
    <mat-label>Telefon Banke</mat-label>
    <input matInput type="text" formControlName="telefon">
  </mat-form-field>
  <mat-form-field style="margin-left: 1vw;" class="example-form-field">
    <mat-label>Web Banke</mat-label>
    <input matInput type="text" formControlName="web">
  </mat-form-field>
</form>
</mat-dialog-content>
<span [hidden]="addEditForm.valid" style="color: rgba(255, 0, 0, 0.578); float: left;">Morate uneti sve podatke</span><br>
<span [hidden]="addEditForm.controls.email.valid" style="color: rgba(255, 0, 0, 0.578);; float: left;">Email mora biti u validnom formatu</span><br>
<span [hidden]="addEditForm.controls.sifra.valid" style="color: rgba(255, 0, 0, 0.578);; float: left;">Sifra mora biti u validnom formatu [A-Z]xe</span><br>
<mat-dialog-actions style="float: right;">
    <button  [disabled]="addEditForm.invalid" (click)="ok()" mat-mat-button mat-dialog-close="save" color="warn" mat-raised-button>Sacuvaj</button>
    <button mat-mat-button mat-dialog-close="cancel" mat-raised-button>Otkazi</button>
</mat-dialog-actions>
