<div style="margin-left: 9vw; margin-top: 5vw;" *ngIf="valuta!==undefined">
    <h1>Racuni U Valuti {{valuta.naziv}}<button mat-raised-button title="Izmena Valute" style="background-color: #FFA800; float: right; margin-right: 10vw; border-radius: 100%; width: 50px; height: 50px;" (click)="openDialogValuta()"><mat-icon>edit</mat-icon>
    </button> </h1> 
  </div>
  <div class="mat-elevation-z8 tabela">  
    <mat-form-field class="search" style="margin-left: 10px;">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pretraga">
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell style="cursor: default;" *matCellDef="let racun"> {{racun.id}} </td>
        </ng-container>
    
        <ng-container matColumnDef="brojracuna">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Broj Racuna</th>
          <td mat-cell style="cursor: default;" *matCellDef="let racun"> {{racun.brojRacuna}} </td>
        </ng-container>
    
        <ng-container matColumnDef="stanje">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Stanje</th>
          <td mat-cell style="cursor: default;" *matCellDef="let racun"> {{racun.stanje}} </td>
        </ng-container>
  
        <ng-container matColumnDef="banka">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Sifra Banke</th>
          <td mat-cell style="cursor: default;" *matCellDef="let racun"> {{racun.banka.sifra}} </td>
        </ng-container>
  
        <ng-container matColumnDef="klijent">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Klijent</th>
          <td mat-cell style="cursor: default;" *matCellDef="let racun"> {{racun.klijent.ime}} {{racun.klijent.prezime}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
    </div>