<div style="width: 17vw;">
<ngx-dropzone (change)="onSelect($event)" accept="text/xml" [multiple]="true">
	<ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
	<ngx-dropzone-preview *ngFor="let f of files.files" [removable]="true" (removed)="onRemove(f)">
		<ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
	</ngx-dropzone-preview>
</ngx-dropzone>
<mat-dialog-actions>
    <button [disabled]="!valid" mat-dialog-close="save" mat-mat-button color="warn" mat-raised-button>Importuj</button>
    <button mat-mat-button mat-dialog-close="cancel" mat-raised-button>Otkazi</button>
</mat-dialog-actions>
</div>