<h2 mat-dialog-title>Korisnik</h2>
<mat-dialog-content>
  <form [formGroup]="addEditForm" class="w-25">
  <mat-form-field class="example-form-field">
    <mat-label>Korisnicko Ime</mat-label>
    <input matInput type="text" formControlName="korIme">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Uloga</mat-label>
    <select matNativeControl formControlName="uloga" class="example-full-width" >
      <option value="ROLE_ADMIN">Admin</option>
      <option value="ROLE_KORISNIK">Korisnik</option>
      <option value="ROLE_IZVRSILAC">Izvrsilac</option>
    </select>
  </mat-form-field>
</form>
</mat-dialog-content>
<span [hidden]="addEditForm.valid" style="color: rgba(255, 0, 0, 0.578); float: left;">Morate uneti sve podatke</span><br>
<mat-dialog-actions style="float: right;">
    <button  [disabled]="addEditForm.invalid" (click)="ok()" mat-mat-button mat-dialog-close="save" color="warn" mat-raised-button>Sacuvaj</button>
    <button mat-mat-button mat-dialog-close="cancel" mat-raised-button>Otkazi</button>
</mat-dialog-actions>
