.main {
    background-color: grey;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    text-align: center;
    width: 50%;
  }
.w50{
    padding-left: 40px;
    padding-right: 40px;
    width: 300px;
}

.save-button{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #FFA800 !important;
   }
  
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: #FFA800 !important;;
  }

  input{
    caret-color:#FFA800
  }