<div class="main">

    
    <mat-form-field  class="w50">
    <label>Racun za ukidanje</label>
    <mat-select  [(ngModel)]="zahtevZaUkidanje.racunZaUkidanje" (ngModelChange)="select($event)">
      <mat-option *ngFor="let ukidanje of zaUkidanjeRacun" [value]="ukidanje" >
        {{ukidanje.brojRacuna}} - {{ukidanje.banka.naziv}} - {{ukidanje.stanje}}
      </mat-option>
    </mat-select>
    </mat-form-field>           
    <br/>   

    <mat-form-field  class="w50">
        <label>Racun za prenos</label>
        <mat-select  [(ngModel)]="zahtevZaUkidanje.racunZaPrenos">
          <mat-option *ngFor="let prenos of zaPrenosRacun" [value]="prenos" >
            {{prenos.brojRacuna}} - {{prenos.banka.naziv}} - {{prenos.stanje}}
          </mat-option>
        </mat-select>
        </mat-form-field>           
        <br/> 
        <mat-form-field   class="w50" >
            <label>Obrazlozenje</label>
            <input [(ngModel)]="zahtevZaUkidanje.obrazlozenje"  matInput autocomplete="off" >
          </mat-form-field>
          <br/>     

      <button mat-raised-button   type="submit" (click)="submitZahtev()"  class="save-button" >Posalji </button>  


</div>