<div class="main">

    
        <mat-form-field  class="w50">
        <label>Racuni korisnika</label>
        <mat-select  [(ngModel)]="nalog.racunDuznika">
          <mat-option *ngFor="let racun of racunKorisnika" [value]="racun" >
            {{racun.brojRacuna}} - {{racun.banka.naziv}} - {{racun.stanje}}
          </mat-option>
        </mat-select>
        </mat-form-field>           
        <br/>   
  
        <mat-form-field class="w50" >
          <label>Racun primaoca</label>
          <input [(ngModel)]="nalog.racunPrimaoca"  matInput autocomplete="off">    
        </mat-form-field>
        <br/>
          
        <mat-form-field   class="w50" >
          <label>Svrha placanja</label>
          <input [(ngModel)]="nalog.svrhaPlacanja"  matInput  autocomplete="off">
        </mat-form-field>
        <br/>
  
        <mat-form-field   class="w50" >
            <label>Poziv na broj zaduzenja</label>
            <input [(ngModel)]="nalog.pozivNaBrojZaduzenja"  matInput autocomplete="off" >
          </mat-form-field>
          <br/>      
  
          <mat-form-field   class="w50" >
            <label>Model zaduzenja</label>
            <input [(ngModel)]="nalog.modelZaduzenja"  matInput autocomplete="off" >
          </mat-form-field>
          <br/>    

          <mat-form-field   class="w50" >
            <label>Poziv na broj odobrenja</label>
            <input [(ngModel)]="nalog.pozivNaBrojOdobrenja"  matInput autocomplete="off" >
          </mat-form-field>
          <br/>       
          <mat-form-field   class="w50" >
            <label>Model odobrenja</label>
            <input [(ngModel)]="nalog.modelOdobrenja"  matInput autocomplete="off">
          </mat-form-field>
          <br/> 
          <mat-form-field  class="w50">
            <label>Drzava</label>
            <mat-select  [(ngModel)]="nalog.drzava">
              <mat-option *ngFor="let drzava of drzave" [value]="drzava" >
                {{drzava.naziv}}
              </mat-option>
            </mat-select>
            </mat-form-field>           
            <br/>  
            <mat-form-field  class="w50">
                <label>Valute</label>
                <mat-select  [(ngModel)]="nalog.valuta">
                  <mat-option *ngFor="let valuta of valute" [value]="valuta" >
                    {{valuta.naziv}}
                  </mat-option>
                </mat-select>
                </mat-form-field>           
                <br/>  
                
        <input type="checkbox" [(ngModel)]="nalog.hitno" > Hitno
        <br/>    
        <mat-form-field   class="w50" >
            <label>Iznos</label>
            <input [(ngModel)]="nalog.iznos" type="number"  matInput autocomplete="off" >
          </mat-form-field>
          <br/> 
          <button mat-raised-button   type="submit"  class="save-button" (click)="submitTransakcija()">Posalji </button>  


  </div>