<h2 mat-dialog-title>Valuta</h2>
<mat-dialog-content>
  <form [formGroup]="addEditForm" class="w-25">
  <mat-form-field class="example-form-field">
    <mat-label>Naziv</mat-label>
    <input matInput type="text" formControlName="naziv">
  </mat-form-field><br>
  <mat-form-field class="example-form-field">
    <mat-label>Sifra</mat-label>
    <input matInput type="text" formControlName="sifra">
  </mat-form-field>
  <br>
  <br/>
  <mat-label>Drzava</mat-label>
        <mat-select formControlName="drzava">
          <mat-option *ngFor="let drzava of listaDrzava" [value]="drzava.sifra">
              {{drzava.sifra}}
          </mat-option>
        </mat-select>
      </form>
</mat-dialog-content>
<div style="display: flex; justify-content: center; flex-direction: column;">
  <span [hidden]="addEditForm.valid" style="color: #F44336; float: left;"><mat-icon>error_outline</mat-icon>Morate uneti sve podatke</span>
  <span [hidden]="addEditForm.controls.sifra.valid" style="color: mediumseagreen; float: left;"><mat-icon>info</mat-icon>Sifra mora biti u formatu SRB</span>
  </div>
<mat-dialog-actions>
    <button style="margin-left: 7vw;" (click)="ok()" mat-mat-button mat-dialog-close="save" color="warn" mat-raised-button>Sacuvaj</button>
    <button mat-mat-button mat-dialog-close="cancel" mat-raised-button>Otkazi</button>
</mat-dialog-actions>