<div class="main">
    <h4>Zahtev za otvaranje racuna</h4>
    <form [formGroup]="addEditForm" class="w-25">

      <mat-form-field class="w50" >
        <input matInput formControlName="ime" type="text" id="imeInput" placeholder="Ime">
      </mat-form-field>
      <br>

      <mat-form-field class="w50" >
          <input matInput formControlName="prezime" type="text" id="prezimeInput" placeholder="Prezime">
      </mat-form-field>
      <br>

      <mat-form-field class="w50" >
        <input matInput formControlName="adresa" type="text" id="adresaInput" placeholder="Adresa">
      </mat-form-field>
      <br>

    <mat-form-field class="w50" >
        <input matInput formControlName="jmbg" type="text" id="jmbgInput" placeholder="JMBG">
    </mat-form-field>
    <br>

    <mat-form-field class="w50" >
        <input matInput formControlName="telefon" type="text" class="form-control" id="telefonInput" placeholder="Telefon"> 
    </mat-form-field>
    <br>

    <mat-form-field  class="w50">
      <label>Tip Klijenta</label>
      <mat-select formControlName="tipKlijenta">
        <mat-option *ngFor="let tipk of tipoviKlijenta" [value]="tipk">
          {{ tipk }}
        </mat-option>
      </mat-select>
    </mat-form-field> 
    <br>

    <mat-form-field  class="w50">
      <label>Banka</label>
      <mat-select formControlName="banka">
        <mat-option *ngFor="let banka of banke" [value]="banka">
          {{ banka.naziv }}, {{ banka.sifra }}
        </mat-option>
      </mat-select>
    </mat-form-field> 
    <br>

    <mat-form-field  class="w50">
      <label>Delatnost</label>
      <mat-select formControlName="delatnost">
        <mat-option *ngFor="let delatnost of delatnosti" [value]="delatnost">
          {{ delatnost.naziv }}, {{ delatnost.sifra }}
        </mat-option>
      </mat-select>
    </mat-form-field> 
    <br>

    <mat-form-field  class="w50">
      <label>Valuta</label>
      <mat-select formControlName="valuta">
        <mat-option *ngFor="let valuta of valute" [value]="valuta">
          {{ valuta.naziv }}, {{ valuta.sifra }}
        </mat-option>
      </mat-select>
    </mat-form-field> 
    <br>

    <button mat-raised-button class="save-button" (click)="submitZahtev(1)" [disabled]="addEditForm.invalid || jmbgExists || !valutaSelected || !bankaSelected || !tipSelected" type="submit">Posalji zahtev</button>
    </form>

    
</div>