<div style="margin-left: 9vw; margin-top: 5vw;" *ngIf="delatnost!==undefined">
  <h1>Klijenti Delatnosti {{delatnost.naziv}}<button mat-raised-button  title="Izmena Delatnosti" style="background-color:#FFA800  ;float: right; margin-right: 10vw; border-radius: 100%; width: 50px; height: 50px;" (click)="openDialogDelatnost()"><mat-icon>edit</mat-icon>
  </button> </h1> 
</div>
<div class="mat-elevation-z8 tabela">  
  <mat-form-field class="search" style="margin-left: 10px;">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pretraga">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell style="cursor: default;" title="Info Delatnost" *matCellDef="let klijent"> {{klijent.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="ime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ime</th>
        <td mat-cell style="cursor: default;" title="Info Delatnost" *matCellDef="let klijent"> {{klijent.ime}} </td>
      </ng-container>
  
      <ng-container matColumnDef="prezime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Prezime</th>
        <td mat-cell style="cursor: default;" title="Info Delatnost" *matCellDef="let klijent"> {{klijent.prezime}} </td>
      </ng-container>

      <ng-container matColumnDef="tipklijenta">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tip klijenta</th>
        <td mat-cell style="cursor: default;" title="Info Delatnost" *matCellDef="let klijent"> {{klijent.tipKlijenta}} </td>
      </ng-container>

      <ng-container matColumnDef="adresa">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Adresa</th>
        <td mat-cell style="cursor: default;" title="Info Delatnost" *matCellDef="let klijent"> {{klijent.adresa}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
  </div>