<h1 style="margin-left: 3vw; margin-top: 5vw;">Zahtev za otvaranje racuna</h1>

<div class="mat-elevation-z8 tabela">
    <mat-form-field class="search" style="margin-left: 10px;">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pretraga">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let racun"> {{racun.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="brojRacuna">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Broj racuna</th>
        <td style="text-align: left; cursor: pointer;" mat-cell *matCellDef="let racun" > {{racun.brojRacuna}} </td>
      </ng-container>
  
      <ng-container matColumnDef="datumKreiranja">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Datum kreiranja</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let racun"> {{racun.datumKreiranja}} </td>
      </ng-container>

      <ng-container matColumnDef="valuta">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Trenutni iznos</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let racun" >{{racun.valuta.naziv}} </td>
      </ng-container>

      <ng-container matColumnDef="banka">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Banka</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let racun" > {{racun.banka.naziv}} </td>
      </ng-container>
  
      <ng-container matColumnDef="operacije">
        <th mat-header-cell style="text-align: center;" *matHeaderCellDef><button mat-raised-button color="accent" style="color: white;"  title="Dodaj zahtev za racun" (click)="zahtevZaOtvaranje()"><mat-icon>add</mat-icon>
        </button></th>
        <td mat-cell style="text-align: center;" *matCellDef="let banka"></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
  </div>
