<div style="margin-left: 9vw; margin-top: 5vw;" *ngIf="drzava!==undefined">
    <h1>Valute U Drzavi {{drzava.naziv}}<button mat-raised-button color="primary" title="Izmena Drzave" style="background-color: #FFA800; float: right; margin-right: 10vw; border-radius: 100%; width: 50px; height: 50px;" (click)="openDialogDrzava()"><mat-icon>edit</mat-icon>
    </button> </h1> 
  </div>
  <div class="mat-elevation-z8 tabela">  
    <mat-form-field class="search" style="margin-left: 10px;">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pretraga">
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell style="cursor: default;" *matCellDef="let valuta"> {{valuta.id}} </td>
        </ng-container>
    
        <ng-container matColumnDef="naziv">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Naziv</th>
          <td mat-cell style="cursor: default;" *matCellDef="let valuta"> {{valuta.naziv}} </td>
        </ng-container>
    
        <ng-container matColumnDef="sifra">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Sifra</th>
          <td mat-cell style="cursor: default;" *matCellDef="let valuta"> {{valuta.sifra}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
    </div>