<h1 style="margin-left: 3vw; margin-top: 5vw;">Klijenti Banke</h1>

<div class="mat-elevation-z8 tabela">
    <mat-form-field class="search" style="margin-left: 10px;">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pretraga">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let klijent" > {{klijent.id}} </td>
      </ng-container>

      <ng-container matColumnDef="ime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ime</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let klijent" > {{klijent.ime}} </td>
      </ng-container>

      <ng-container matColumnDef="prezime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Prezime</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let klijent" > {{klijent.prezime}} </td>
      </ng-container>

      <ng-container matColumnDef="jmbg">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>JMBG</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let klijent" > {{klijent.jmbg}} </td>
      </ng-container>

      <ng-container matColumnDef="adresa">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Adresa</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let klijent" > {{klijent.adresa}} </td>
      </ng-container>

      <ng-container matColumnDef="telefon">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Telefon</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let klijent" > {{klijent.telefon}} </td>
      </ng-container>

      <ng-container matColumnDef="tipklijenta">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tip Klijenta</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let klijent" > {{klijent.tipKlijenta}} </td>
      </ng-container>

      <ng-container matColumnDef="delatnost">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Delatnost</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let klijent" > {{klijent.delatnost.naziv}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
  </div>
