<h1 style="margin-left: 3vw; margin-top: 5vw;">Importovane transakcije</h1>

<div class="mat-elevation-z8 tabela">
  <mat-form-field class="search" style="margin-left: 10px;">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pretraga">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let nalog" style="cursor: pointer;"> {{nalog.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="datumprijema">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Datum Prijema</th>
        <td mat-cell *matCellDef="let nalog" style="cursor: pointer;"> {{nalog.datumPrijema}} </td>
      </ng-container>

      <ng-container matColumnDef="racunduznika">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Racun Duznika</th>
        <td mat-cell *matCellDef="let nalog" style="cursor: pointer;"> {{nalog.racunDuznika.brojRacuna}} </td>
      </ng-container>

      <ng-container matColumnDef="racunprimaoca">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Racun Primaoca</th>
        <td mat-cell *matCellDef="let nalog" style="cursor: pointer;"> {{nalog.racunPrimaoca.brojRacuna}} </td>
      </ng-container>

      <ng-container matColumnDef="iznos">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Iznos</th>
        <td mat-cell *matCellDef="let nalog" style="cursor: pointer;"> {{nalog.iznos}} </td>
      </ng-container>

      <ng-container matColumnDef="valuta">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Valuta</th>
        <td mat-cell *matCellDef="let nalog" style="cursor: pointer;"> {{nalog.valuta.naziv}} </td>
      </ng-container>

      <ng-container matColumnDef="svrhaplacanja">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Svrha placanja</th>
        <td mat-cell *matCellDef="let nalog" style="cursor: pointer;"> {{nalog.svrhaPlacanja}}</td>
      </ng-container>

      <ng-container matColumnDef="operacije">
        <th mat-header-cell style="text-align: center;" *matHeaderCellDef><button mat-raised-button color="accent" style="color: white;"  title="Import Transakcije" (click)="openImport()"><mat-icon>cloud_upload</mat-icon>
        </button></th>
        <td mat-cell style="text-align: center;" *matCellDef="let nalog"></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
  </div>