.sidenav-container {
  height: 100%;
  transition: 2s;
}

.sidenav {
  width: 200px;

}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.mat-list a{
  display: flex;
}
.mat-toolbar{
  display: flex;
  justify-content: center;
}
.mat-cotent{
  margin: 0; 
  height: 100%; 
  overflow: hidden
}
.spacer{
  flex: 1 1 auto;
}

.mat-icon {
  padding-right: 20px;
}


.login-btn:hover::after {
  opacity: 1;
  transition: all 0.5s;
  color: #ffffff;
}

span {
  cursor: pointer;
}
.logout{
  text-decoration: none;
  background: none; 
  border: none; 
  color:white; 
  cursor: pointer; 
  font-weight: bold;
}

.logout:hover{
  color: #303030;
}
.mobile-nav{
  width: 100%;
}

.dugme{
  background: none; 
  border: none; 
  float: right; 
  margin-right: 5vw; 
  margin-top: 2vw; 
  color: #7B1FA2; 
  font-weight: bold; 
  border-radius: 100%;
  width: 30px; 
  height: 30px;
  cursor: pointer;
}
.dugme:hover{
  color: white;
}




