<mat-sidenav-container class="sidenav-container">
  <mat-sidenav *ngIf="_router.url !== '/zahtev-otvaranja-racuna' && _router.url !== '/'" #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [ngClass]="{'mobile-nav': (isHandset$ | async)}"
      [opened]="(isHandset$ | async)? sidenavOpened : true">
         <button *ngIf="(isHandset$ | async)" (click)="sidenavOpened=false" mat-list-item class="dugme">
        <mat-icon> close</mat-icon>
    </button>
        <mat-toolbar class="mat-toolbar">
          <div *ngIf="korisnickoIme!==null" style="text-transform: capitalize;">
          {{korisnickoIme}}</div>
        </mat-toolbar>
    <mat-nav-list class="mat-list">
      <a (click)="sidenavOpened=false"  mat-list-item [routerLink]="['/profil']"><mat-icon> person</mat-icon>Profil</a>
      <a (click)="sidenavOpened=false"  *ngIf="uloga == 'ROLE_ADMIN'" mat-list-item [routerLink]="['/banka']"><mat-icon>account_balance</mat-icon>Banka</a>
      <a (click)="sidenavOpened=false"  *ngIf="uloga == 'ROLE_ADMIN'" mat-list-item [routerLink]="['/korisnik']" ><mat-icon>people_outline</mat-icon>Korisnik</a>
      <a (click)="sidenavOpened=false"  *ngIf="uloga == 'ROLE_ADMIN'" mat-list-item [routerLink]="['/delatnost']"><mat-icon>work</mat-icon>Delatnost</a>
      <a (click)="sidenavOpened=false"  *ngIf="uloga == 'ROLE_ADMIN'" mat-list-item [routerLink]="['/klijent']"><mat-icon>group</mat-icon>Klijent</a>
      <a (click)="sidenavOpened=false"  *ngIf="uloga == 'ROLE_ADMIN'" mat-list-item [routerLink]="['/drzava']"><mat-icon>flag</mat-icon>Drzava</a>
      <a (click)="sidenavOpened=false"  *ngIf="uloga == 'ROLE_ADMIN'" mat-list-item [routerLink]="['/valuta']"><mat-icon>euro_symbol</mat-icon>Valuta</a>
      <a (click)="sidenavOpened=false"  *ngIf="uloga == 'ROLE_KORISNIK'" mat-list-item [routerLink]="['/racun']"><mat-icon>credit_card</mat-icon>Racuni</a>
      <a (click)="sidenavOpened=false"  *ngIf="uloga == 'ROLE_KORISNIK'" mat-list-item [routerLink]="['/transakcije']"><mat-icon>compare_arrows</mat-icon>Transakcija</a>
      <a (click)="sidenavOpened=false"  *ngIf="uloga == 'ROLE_KORISNIK'" mat-list-item [routerLink]="['/racun-korisnika-otvaranje']"><mat-icon>add_circle</mat-icon>Otvaranje Racuna</a>
      <a (click)="sidenavOpened=false"  *ngIf="uloga == 'ROLE_KORISNIK'" mat-list-item [routerLink]="['/racun-korisnika-ukidanje']"><mat-icon>remove_circle</mat-icon>Ukidanje Racuna</a>
      <a (click)="sidenavOpened=false"  *ngIf="uloga == 'ROLE_KORISNIK'" mat-list-item [routerLink]="['/preuzimanje-izvestaja']"><mat-icon>picture_as_pdf</mat-icon>Preuzimanje Izvestaja</a>
      <a (click)="sidenavOpened=false"  *ngIf="uloga == 'ROLE_IZVRSILAC'" mat-list-item [routerLink]="['/banka-klijenti']"><mat-icon>group</mat-icon>Klijenti Banke</a>
      <a (click)="sidenavOpened=false"  *ngIf="uloga == 'ROLE_IZVRSILAC'" mat-list-item [routerLink]="['/racun-klijenti']"><mat-icon>credit_card</mat-icon>Racuni U Banci</a>
      <a (click)="sidenavOpened=false"  *ngIf="uloga == 'ROLE_IZVRSILAC'" mat-list-item [routerLink]="['/otvaranje-racuna-izvrsilac']"><mat-icon>add_circle</mat-icon>Otvaranje Racuna</a>
      <a (click)="sidenavOpened=false"  *ngIf="uloga == 'ROLE_IZVRSILAC'" mat-list-item [routerLink]="['/ukidanje-racuna-izvrsilac']"><mat-icon>remove_circle</mat-icon>Ukidanje Racuna</a>
      <a (click)="sidenavOpened=false"  *ngIf="uloga == 'ROLE_IZVRSILAC'" mat-list-item [routerLink]="['/importovane-transakcije']"><mat-icon>swap_horiz</mat-icon>Importovane transakcije</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="margin: 0; height: 100%; overflow-y: scroll">
    <mat-toolbar style="background-color:#FFA800">
      <button
        *ngIf = "(isHandset$ | async)"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="togglesideNav();"
        >
        <mat-icon aria-label="Side nav toggle icon" *ngIf="_router.url !== '/zahtev-otvaranja-racuna' && _router.url !== '/'" >menu</mat-icon>
      </button>
      <span style="cursor: pointer;" (click)="routeProfile()">Poslovna Banka</span>
      <span class="spacer"></span>
      <button class="logout" (click)="odjava()" *ngIf="_router.url !== '/zahtev-otvaranja-racuna' && _router.url !== '/'" >Logout</button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>