<h2 mat-dialog-title>Delatnost</h2>
<mat-dialog-content>
  <form [formGroup]="addEditForm">
  <mat-form-field class="example-form-field">
    <mat-label>Naziv Delatnosti</mat-label>
    <input matInput type="text" formControlName="naziv">
  </mat-form-field><br>
  <mat-form-field class="example-form-field">
    <mat-label>Sifra Delatnosti</mat-label>
    <input matInput type="text" formControlName="sifra">
  </mat-form-field>
  </form>
</mat-dialog-content>
<div style="display: flex; justify-content: center; flex-direction: column;">
  <span [hidden]="addEditForm.valid" style="color: #F44336; float: left;"><mat-icon>error_outline</mat-icon>Morate uneti sve podatke</span>
  <span [hidden]="addEditForm.controls.sifra.valid" style="color: mediumseagreen; float: left;"><mat-icon>info</mat-icon>Sifra mora biti u formatu 'SRB'</span>
  </div>
<mat-dialog-actions style="float: right;">
    <button [disabled]="addEditForm.invalid" (click)="ok()" style="margin-left: 7vw; background-color:#FFA800" mat-mat-button mat-dialog-close="save" mat-raised-button>Sacuvaj</button>
    <button mat-mat-button mat-dialog-close="cancel" mat-raised-button>Otkazi</button>
</mat-dialog-actions>