<div class="main">

    
    <mat-form-field  class="w50">
    <label>Banka</label>
    <mat-select  [(ngModel)]="zahtev.bankaId">
      <mat-option *ngFor="let b of banka" [value]="b.id" >
        {{b.sifra}} - {{b.naziv}} - {{b.swift}}
      </mat-option>
    </mat-select>
    </mat-form-field>           
    <br/>   

    <mat-form-field  class="w50">
        <label>Valuta</label>
        <mat-select  [(ngModel)]="zahtev.valuteId">
          <mat-option *ngFor="let v of valute" [value]="v.id" >
            {{v.sifra}} - {{v.naziv}} 
          </mat-option>
        </mat-select>
        </mat-form-field>           
        <br/>   

      <button mat-raised-button   type="submit"  class="save-button" (click)="submitZahtev(0)" >Posalji </button>  


</div>