<h1 style="margin-left: 3vw; margin-top: 5vw;">Aktivni zahtevi za ukidanje racuna korisnicima:</h1>

<div class="mat-elevation-z8 tabela">
    <mat-form-field class="search" style="margin-left: 10px;">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pretraga">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let ukidanjeRacuna"> {{ukidanjeRacuna.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="klijent">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Klijent</th>
        <td style="text-align: left; cursor: pointer;" mat-cell *matCellDef="let ukidanjeRacuna" > {{ukidanjeRacuna.racunZaUkidanje.klijent.ime}} {{ukidanjeRacuna.racunZaUkidanje.klijent.prezime}} </td>
      </ng-container>
  
      <ng-container matColumnDef="racunZaUkidanje">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Racun Za Ukidanje</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let ukidanjeRacuna"> {{ukidanjeRacuna.racunZaUkidanje.brojRacuna}} </td>
      </ng-container>

      <ng-container matColumnDef="racunZaPrenosNovca">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Racun Za Prenos Novca</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let ukidanjeRacuna" > {{ukidanjeRacuna.racunZaPrenosNovca.brojRacuna}} </td>
      </ng-container>

      <ng-container matColumnDef="stanjeRacuna">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Stanje Racuna Koji Se Ukida</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let ukidanjeRacuna" > {{ukidanjeRacuna.racunZaUkidanje.stanje}} </td>
      </ng-container>

      <ng-container matColumnDef="obrazlozenje">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Obrazlozenje</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let ukidanjeRacuna" > {{ukidanjeRacuna.obrazlozenje}} </td>
      </ng-container>

      <ng-container matColumnDef="operacije">
        <th mat-header-cell style="text-align: center;" *matHeaderCellDef><button mat-raised-button color="accent" style="color: white;"  title="Odobri" ></button></th>
        <td mat-cell style="text-align: center;" *matCellDef="let ukidanjeRacuna"><button mat-raised-button title="Odobri" style="background-color:green; margin-right: 1vw;" (click)="submit('accepted',ukidanjeRacuna.id)"><mat-icon>check</mat-icon>
        </button><button mat-raised-button (click)="submit('rejected',ukidanjeRacuna.id)" color="warn" title="Odbij"><mat-icon>cancel</mat-icon>
        </button></td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
  </div>
