<h1 style="margin-left: 10vw; margin-top: 5vw;">Preuzimanje izvestaja</h1>
<div class="main">
    <mat-form-field appearance="fill">
        <mat-label>Izaberi banku</mat-label>
        <mat-select [(ngModel)]="banka"  matNativeControl  class="example-full-width" >
            <mat-option *ngFor="let b of banke" [value]="b" >
              {{b.naziv}}
            </mat-option>
          </mat-select>
      </mat-form-field>
    <button (click)="ok()" mat-mat-button color="warn" mat-raised-button>Preuzmi izvestaj</button>
</div>