.main {
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    text-align: center;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  } 