<h1 style="margin-left: 3vw; margin-top: 5vw;">Banka</h1>

<div class="mat-elevation-z8 tabela">
    <mat-form-field class="search" style="margin-left: 10px;">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pretraga">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let banka" (click)= "openBanka(banka)"> {{banka.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="adresa">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Adresa</th>
        <td style="text-align: left; cursor: pointer;" mat-cell *matCellDef="let banka" (click)= "openBanka(banka)"> {{banka.adresa}} </td>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let banka" (click)= "openBanka(banka)"> {{banka.email}} </td>
      </ng-container>

      <ng-container matColumnDef="fax">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fax</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let banka" (click)= "openBanka(banka)"> {{banka.fax}} </td>
      </ng-container>

      <ng-container matColumnDef="naziv">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Naziv</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let banka" (click)= "openBanka(banka)"> {{banka.naziv}} </td>
      </ng-container>

      <ng-container matColumnDef="obracunskiRacun">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Obracunski Racun</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let banka" (click)= "openBanka(banka)"> {{banka.obracunskiRacun}} </td>
      </ng-container>

      <ng-container matColumnDef="sifra">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sifra</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let banka" (click)= "openBanka(banka)"> {{banka.sifra}} </td>
      </ng-container>

      <ng-container matColumnDef="swift">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Swift</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let banka" (click)= "openBanka(banka)"> {{banka.swift}} </td>
      </ng-container>

      <ng-container matColumnDef="telefon">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Telefon</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let banka" (click)= "openBanka(banka)"> {{banka.telefon}} </td>
      </ng-container>

      <ng-container matColumnDef="web">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Web</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let banka" (click)= "openBanka(banka)"> {{banka.web}} </td>
      </ng-container>

      <ng-container matColumnDef="operacije">
        <th mat-header-cell style="text-align: center;" *matHeaderCellDef><button mat-raised-button color="accent" style="color: white;"  title="Dodaj Banku" (click)="openDialogBanka(null,'add')"><mat-icon>add</mat-icon>
        </button></th>
        <td mat-cell style="text-align: center;" *matCellDef="let banka"><button mat-raised-button (click)="openDialogDelete(banka)" color="warn" title="Brisanje Banke"><mat-icon>delete</mat-icon></button></td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
  </div>

