<h1 style="margin-left: 3vw; margin-top: 5vw;">Racuni klijenta</h1>

<div class="mat-elevation-z8 tabela">
    <mat-form-field class="search" style="margin-left: 10px;">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pretraga">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let racun" > {{racun.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="brojRacuna">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Broj racuna</th>
        <td style="text-align: left; cursor: pointer;" mat-cell *matCellDef="let racun" > {{racun.brojRacuna}} </td>
      </ng-container>
  
      <ng-container matColumnDef="stanje">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Stanje</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let racun"> {{racun.stanje}} </td>
      </ng-container>

      <ng-container matColumnDef="datumKreiranja">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Datum Kreiranja</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let racun" > {{racun.datumKreiranja | date:'short'}} </td>
      </ng-container>

      <ng-container matColumnDef="odobren">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Odobren</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let racun"> {{racun.odobren}} </td>
      </ng-container>

  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
  </div>
