<h2 mat-dialog-title>Brisanje drzave</h2>
<mat-dialog-content>Da li zelite da obrisete drzavu?</mat-dialog-content>
<mat-dialog-actions>
    <button style="margin-left: 7vw;" mat-mat-button mat-dialog-close="da" color="warn" mat-raised-button>Da</button>
    <button mat-mat-button mat-dialog-close="ne" mat-raised-button>Ne</button>
</mat-dialog-actions>