<h1 style="margin-left: 3vw; margin-top: 5vw;">Zahtev za ukidanje racuna</h1>

<div class="mat-elevation-z8 tabela">
    <mat-form-field class="search" style="margin-left: 10px;">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pretraga">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let ukidanjeRacuna"> {{ukidanjeRacuna.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="datumKreiranja">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Datum kreiranja</th>
        <td style="text-align: left; cursor: pointer;" mat-cell *matCellDef="let ukidanjeRacuna" > {{ukidanjeRacuna.racunZaUkidanje.datumKreiranja | date:'short'}} </td>
      </ng-container>
  
      <ng-container matColumnDef="racunZaUkidanje">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Racun za ukidanje</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let ukidanjeRacuna"> {{ukidanjeRacuna.racunZaUkidanje.brojRacuna}} </td>
      </ng-container>

      <ng-container matColumnDef="racunZaPrenosNovca">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Racun za prenos novca</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let ukidanjeRacuna" >{{ukidanjeRacuna.racunZaPrenosNovca.brojRacuna}} </td>
      </ng-container>

      <ng-container matColumnDef="stanjeRacuna">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Stanje racuna koji se ukida</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let ukidanjeRacuna" >{{ukidanjeRacuna.racunZaUkidanje.stanje}} </td>
      </ng-container>

      <ng-container matColumnDef="obrazlozenje">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Obrazlozenje</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let ukidanjeRacuna" >{{ukidanjeRacuna.obrazlozenje}} </td>
      </ng-container>
    
      <ng-container matColumnDef="operacije">
        <th mat-header-cell style="text-align: center;" *matHeaderCellDef><button mat-raised-button color="accent" style="color: white;"  title="Dodaj zahtev za racun" (click)="zahtevZaUkidanje()"><mat-icon>add</mat-icon>
        </button></th>
        <td mat-cell style="text-align: center;" *matCellDef="let banka"></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
  </div>
