<h1 style="margin-left: 3vw; margin-top: 5vw;">Racuni korisnika</h1>

<div class="mat-elevation-z8 tabela">
    <mat-form-field class="search" style="margin-left: 10px;">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pretraga">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let racun"> {{racun.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="brojRacuna">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Broj racuna</th>
        <td style="text-align: left; cursor: pointer;" mat-cell *matCellDef="let racun" > {{racun.brojRacuna}} </td>
      </ng-container>
  
      <ng-container matColumnDef="stanje">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Stanje</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let racun"> {{racun.stanje}} </td>
      </ng-container>

      <ng-container matColumnDef="datumKreiranja">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Datum Kreiranja</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let racun" > {{racun.datumKreiranja | date:'MM/dd/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="trenutniIznos">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Rezervisan iznos</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let racun" >{{racun.rezervisanIznos}} </td>
      </ng-container>

      <ng-container matColumnDef="banka">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Banka</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let racun" > {{racun.banka.naziv}} </td>
      </ng-container>

      <ng-container matColumnDef="valuta">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Valuta</th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let racun" > {{racun.valuta.naziv}} </td>
      </ng-container>

      <ng-container matColumnDef="operacije">
        <th mat-header-cell style="text-align: center;" *matHeaderCellDef>
          
          <input type="datetime-local" style="background-color: transparent; color: #FFA800; border: none;" placeholder="Datum od:" class="form-control"
          id="datumOd"
          (change)="onDatumSelected($event,'od')">

          <input style="margin-left: 1vw; background-color: transparent; color: #FFA800; border: none;"  type="datetime-local" placeholder="Datum do:" class="form-control"
          id="datumDo"
          (change)="onDatumSelected($event,'do')">
        
        </th>
        <td mat-cell style="text-align: center;" *matCellDef="let racun">
          <button (click)="download(racun.id,racun.klijent.id)" mat-raised-button style="background-color: #FFA800" title="Preuzmi Izvestaj"><mat-icon style=" margin-right: 0.5vw;">cloud_download</mat-icon>Preuzmi izvestaj
        </button></td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
  </div>
