table {
    width: 100%;
  }

.tabela{
    width: 100%;
    margin: 20px auto;
}
.example-form-field {
  width: 200px;
}
::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #FFA800 !important;
 }


::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: #FFA800 !important;;
}

input{
  caret-color:#FFA800
}

mat-tab-group{
  width: 80%;
  margin: auto;
}

::ng-deep.mat-ink-bar{
  background-color: #ffa800 !important;
}