  <mat-tab-group>
    <mat-tab label="Racuni">
      <div style="margin-left: 9vw; margin-top: 5vw;" *ngIf="banka!==undefined">
        <h1>Racuni Banke {{banka.naziv}}<button mat-raised-button title="Izmena Banke" style="background-color: #FFA800; float: right; margin-right: 10vw; border-radius: 100%; width: 50px; height: 50px;" (click)="openDialogBanka()"><mat-icon>edit</mat-icon>
        </button> </h1> 
      </div>
      <div class="mat-elevation-z8 tabela">  
        <mat-form-field class="search" style="margin-left: 10px;">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pretraga">
          </mat-form-field>
          <table mat-table [dataSource]="dataSourceRacuni" matSort>
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
              <td mat-cell style="cursor: default;" *matCellDef="let racun"> {{racun.id}} </td>
            </ng-container>
        
            <ng-container matColumnDef="brojracuna">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Broj Racuna</th>
              <td mat-cell style="cursor: default;" *matCellDef="let racun"> {{racun.brojRacuna}} </td>
            </ng-container>
        
            <ng-container matColumnDef="datumkreiranja">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Datum Kreiranja</th>
              <td mat-cell style="cursor: default;" *matCellDef="let racun"> {{racun.datumKreiranja | date:'short'}} </td>
            </ng-container>
    
            <ng-container matColumnDef="stanje">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Stanje</th>
                <td mat-cell style="cursor: default;" *matCellDef="let racun"> {{racun.stanje}} </td>
            </ng-container>
    
              <ng-container matColumnDef="klijent">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Klijent</th>
                <td mat-cell style="cursor: default;" *matCellDef="let racun"> {{racun.klijent.ime}} {{racun.klijent.prezime}} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumnsRacuni"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsRacuni;"></tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
      </div>
    </mat-tab>
    <mat-tab label="Kursne Liste">
      <div style="margin-left: 9vw; margin-top: 5vw;" *ngIf="banka!==undefined">
        <h1>Kursne Liste Banke {{banka.naziv}}<button mat-raised-button title="Izmena Banke" style="background-color: #FFA800; float: right; margin-right: 10vw; border-radius: 100%; width: 50px; height: 50px;" (click)="openDialogBanka()"><mat-icon>edit</mat-icon>
        </button> </h1> 
      </div>
      <div class="mat-elevation-z8 tabela">  
        <mat-form-field class="search" style="margin-left: 10px;">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pretraga">
          </mat-form-field>
          <table mat-table [dataSource]="dataSourceKursneListe" matSort>
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
              <td mat-cell style="cursor: default;" *matCellDef="let kursnalista"> {{kursnalista.id}} </td>
            </ng-container>

            <ng-container matColumnDef="broj">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Broj</th>
              <td mat-cell style="cursor: default;" *matCellDef="let kursnalista"> {{kursnalista.broj}} </td>
            </ng-container>

            <ng-container matColumnDef="datum">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Datum</th>
              <td mat-cell style="cursor: default;" *matCellDef="let kursnalista"> {{kursnalista.datum | date:'short'}} </td>
            </ng-container>

            <ng-container matColumnDef="datumprimene">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Datum Primene</th>
              <td mat-cell style="cursor: default;" *matCellDef="let kursnalista"> {{kursnalista.datumPrimene | date:'short'}} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumnsKursneListe"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsKursneListe;"></tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
      </div>
    </mat-tab>
  </mat-tab-group>
  
