<h1 style="margin-left: 10vw; margin-top: 5vw;">Korisnik</h1>
<div class="mat-elevation-z8 tabela">
  <mat-form-field class="search" style="margin-left: 10px;">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pretraga">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let korisnik"> {{korisnik.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="korisnickoIme">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Korisnicko ime</th>
        <td mat-cell *matCellDef="let korisnik"> {{korisnik.korisnickoIme}} </td>
      </ng-container>
  
      <!-- <ng-container matColumnDef="lozinka">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Lozinka</th>
        <td mat-cell *matCellDef="let korisnik"> {{korisnik.lozinka}} </td>
      </ng-container> -->

      <ng-container matColumnDef="uloga">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Uloga</th>
        <td mat-cell *matCellDef="let korisnik" style="text-transform: capitalize;"> {{korisnik.uloga.toLowerCase().split('_')[1]}} </td>
      </ng-container>

      <ng-container matColumnDef="banka">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Banka</th>
        <td mat-cell *matCellDef="let korisnik"> {{korisnik.banka.naziv}} </td>
      </ng-container>

      <ng-container matColumnDef="operacije">
        <th mat-header-cell style="text-align: center;" *matHeaderCellDef>
          <!-- <button mat-raised-button color="accent" style="color: white;"  title="Dodaj Korisnika"><mat-icon>add</mat-icon>
        </button> -->
      </th>
        <td mat-cell style="text-align: center;" *matCellDef="let korisnik"><button mat-raised-button color="primary" title="Izmena Korisnika" style="margin-right: 1vw; background-color: #FFA800;" (click)="openDialogBanka(korisnik,'edit')"s><mat-icon>edit</mat-icon>
        <!-- </button><button mat-raised-button color="warn" title="Brisanje Korisnika" (click)="openDialogDelete(korisnik)" ><mat-icon>delete</mat-icon> -->
        </button></td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>  
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
  </div>