<h2 mat-dialog-title>Klijent</h2>
<mat-dialog-content>
  <mat-form-field class="example-form-field">
    <mat-label>Adresa Klijenta</mat-label>
    <input matInput type="text" [(ngModel)]="klijent.klijent.adresa">
    <button mat-button *ngIf="klijent.klijent.adresa" matSuffix mat-icon-button aria-label="Clear" (click)="klijent.klijent.adresa=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field><br>
  <mat-form-field class="example-form-field">
    <mat-label>Ime Klijenta</mat-label>
    <input matInput type="text" [(ngModel)]="klijent.klijent.ime">
    <button mat-button *ngIf="klijent.klijent.ime" matSuffix mat-icon-button aria-label="Clear" (click)="klijent.klijent.ime=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field><br>
  <mat-form-field class="example-form-field">
    <mat-label>Prezime Klijenta</mat-label>
    <input matInput type="text" [(ngModel)]="klijent.klijent.prezime">
    <button mat-button *ngIf="klijent.klijent.prezime" matSuffix mat-icon-button aria-label="Clear" (click)="klijent.klijent.prezime=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field><br>
  <mat-form-field class="example-form-field">
    <mat-label>JMBG Klijenta</mat-label>
    <input matInput type="text" [(ngModel)]="klijent.klijent.jmbg">
    <button mat-button *ngIf="klijent.klijent.jmbg" matSuffix mat-icon-button aria-label="Clear" (click)="klijent.klijent.jmbg=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field><br>
  <mat-form-field class="example-form-field">
    <mat-label>Telefon Klijenta</mat-label>
    <input matInput type="text" [(ngModel)]="klijent.klijent.telefon">
    <button mat-button *ngIf="klijent.klijent.telefon" matSuffix mat-icon-button aria-label="Clear" (click)="klijent.klijent.telefon=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field><br>
  <mat-form-field class="example-form-field">
    <mat-label>Korisnik</mat-label>
    <input matInput type="text" [(ngModel)]="klijent.klijent.korisnik">
    <button mat-button *ngIf="klijent.klijent.korisnik" matSuffix mat-icon-button aria-label="Clear" (click)="klijent.klijent.korisnik=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field><br>
  <mat-form-field class="example-form-field">
    <mat-label>Odobren</mat-label>
    <input matInput type="text" [(ngModel)]="klijent.klijent.odobren">
    <button mat-button *ngIf="klijent.klijent.odobren" matSuffix mat-icon-button aria-label="Clear" (click)="klijent.klijent.odobren=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field><br>
  <mat-form-field class="example-form-field">
    <mat-label>Tip Klijenta</mat-label>
    <input matInput type="text" [(ngModel)]="klijent.klijent.tipKlijenta">
    <button mat-button *ngIf="klijent.klijent.tipKlijenta" matSuffix mat-icon-button aria-label="Clear" (click)="klijent.klijent.tipKlijenta=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field><br>
  </mat-dialog-content>
<mat-dialog-actions>
    <button style="margin-left: 7vw;" mat-mat-button mat-dialog-close="save" color="warn" mat-raised-button>Sacuvaj</button>
    <button mat-mat-button mat-dialog-close="cancel" mat-raised-button>Otkazi</button>
</mat-dialog-actions>
